html {
	margin-top: 30px;
	margin-left: 30px;
}

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

img {
	width: 1440px;
}

#button1 {
	border: 3px solid black;
	font-size: 35px;
	position: absolute;
	padding: 16px 24px;
	left: 550px;
	top: 300px;
}

#button1:hover {
	background-color: black;
	color: white;
	transition: background-color 1s ease;
	transition: color 1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#button1, #button2 {
	opacity:0;
	opacity: 1 \9; /*just in case ie*/
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}