body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

img {
	height: 800px;
	margin-left: -10px;
}

#question {
	position: absolute;
	top: 700px;
	bottom: 10px;
	left: 1350px;
	right: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: black;
}

#button1 {
	border: 3px solid black;
	font-size: 35px;
	position: absolute;
	padding: 16px 24px;
	left: 550px;
	top: 300px;
}

#button1:hover {
	background-color: black;
	color: white;
	transition: background-color 1s ease;
	transition: color 1s;
}