html {
	margin-top: 30px;
	margin-left: 30px;
}

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

ul {
	line-height: 1.5em;
}

a {
	color: black;
	text-decoration: none;
}

#bold {
	font-weight: 500;
	font-size: 100px;
	margin-top: 290px;
	margin-left: -40px;
}

/*#button1 {
	border: 1px solid black;
	position: absolute;
	padding: 4.5px 8px;
	left: 655px;
	top: 235px;
}

#button2 {
	border: 1px solid black;
	position: absolute;
	padding: 4.5px 8px;
	left: 590px;
	top: 465px;
}

#button1:hover, #button2:hover {
	background-color: black;
	color: white;
	transition: background-color 1s ease;
}*/

#button1 {
	border: 3px solid black;
	font-size: 35px;
	background-color: white;
	position: absolute;
	padding: 16px 24px;
	left: 360px;
	top: 310px;
}

#button2 {
	border: 3px solid black;
	font-size: 35px;
	background-color: white;
	position: absolute;
	padding: 16px 24px;
	left: 750px;
	top: 310px;
}

#button1:hover, #button2:hover {
	background-color: black;
	color: white;
	transition: background-color 1s ease;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#button1, #button2 {
	opacity:0;
	opacity: 1 \9; /*just in case ie*/
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}