/*html {
	margin-top: 30px;
	margin-left: 30px;
}*/

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

ul {
	line-height: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

/*#bold {
	font-weight: 500;
	font-size: 300px;
	margin-top: 180px;
}*/

img {
	height: 800px;
}

#button1 {
	border: 1px solid white;
	position: absolute;
	padding: 4.5px 8px;
	left: 170px;
	top: 365px;
}

#button2 {
	border: 1px solid white;
	position: absolute;
	padding: 4.5px 8px;
	left: 1100px;
	top: 365px;
}

#button1:hover, #button2:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
	transition: background-color 1s ease;
}

