/*UNIVERSAL STYLES*/

html {
	font-size: 62.5%;
	background-color: #f9e0c1;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 150%;
	margin: 1.5rem 0rem;
}

h1 {
	font-size: 3.8rem;
	margin: 2.85rem 0rem;
}

h2 {
	font-size: 2.8rem;
	margin: 2.1rem 0rem;
}

h3 {
	font-size: 2.1rem;
	margin: 1.57rem 0rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1.0rem;
}

p {
	margin: 0rem 0rem 2.4rem 0rem;
	line-height: 170%;
}
/*clearfixes*/

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*block level elements*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div {
	margin: 1.5rem 0rem;
}

div {
	margin: 0rem;
}

.page {
	margin: 0px;
	padding: 0px;
}

.main {
	margin: 0px;
	padding: 0px;
	max-width: none;
}

.inner {
	max-width: 1000px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.failure{
	color:red;
}
.success{
	color: green;
}

/*SCROLL SNAP SYLES*/
.scroll-container {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 1440px;
	height: 620px;
	scroll-snap-type: mandatory;
	scroll-behavior: smooth;
	background: #fff;
	border-top: solid 2px #000;
	border-bottom: solid 2px #000;
	font-size: 0px;
	margin-top: 80px;
	margin-left: -235px;
}

.scroll-container .scroll-section {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: solid 1px #ccc;
	white-space: nowrap;
}
/*Slider X (different sized images)*/

.scroll-container.diff-size {
	scroll-snap-destination: 50% 0%;
	padding: 30px 0px;
}

.scroll-container.diff-size .scroll-section {
	width: auto;
	height: 100%;
	margin-right: 300px;
	scroll-snap-coordinate: 50% 0%;
}

.scroll-container.diff-size .scroll-section:first-child {
	scroll-snap-coordinate: 0% 0%, 50% 0%;
	margin-left: 105px;
}

.scroll-container.diff-size .scroll-section:last-child {
	scroll-snap-coordinate: 50% 0%, 100% 0%;
}

/*OTHER SYLES*/
.twitter {
	position: absolute;
	right: 30px;
	top: 20px;
	height: 40px;
}

.intro {
	margin-top: 300px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 35px;
	line-height: 48px;
	text-align: center;
	font-style: none;
}

.handle {
	font-weight: 400;
	color: black;
}

.handle:hover {
	color: white;
}

a {
	text-decoration: none;
}

.button {
	border: 3px solid black;
	background-color: black;
	position: absolute;
	padding: 4px 30px 8px 30px;
	left: 600px;
	top: 500px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.text {
	margin: 0;
}

a {
	font-style: none;
	color: white;
}

.button:hover {
	background-color: white;
	color: black;
	transition: background-color 1s ease;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes colorIn { from { color: black; } to { color: white; } }
@-moz-keyframes colorIn { from { color: black; } to { color: white; } }
@keyframes colorIn { from { color: black; } to { color: white; } }

.handle:hover {
/*	opacity:0;
	opacity: 1 \9*/;
	-webkit-animation:colorIn ease-in 1;
	-moz-animation:colorIn ease-in 1;
	animation:colorIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;

/*	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;*/
}

.button {
	opacity:0;
	opacity: 1 \9; 
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2.5s;
	-moz-animation-duration:2.5s;
	animation-duration:2.5s;

	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}